
table {
  border: 1px solid white;
  width: 100%;
  border-collapse:collapse;
}
th{
  text-align: left;
  padding: 8px;
  font-size: 25px;
}
td{
  text-align: left;
  padding: 8px;
  font-size: 18px;
}
th {
  background-color: rgb(245,246,250);
}
tr:hover{
  box-shadow: 1px 1px 4px black inset;
}
caption{
  text-align: left;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: bold;
}